.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .5;
  z-index: 999;
}

.modal {
  position: absolute;

  z-index: 1000;
  height: auto;
  width: 700px;
  color: white;
  background-color: #ea4b36;
  border-radius: 7px;

  .header {

    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .1);
    .title {
      margin: 0 50px 0 50px;
      font-size: 25px;
      font-weight: 600;
    }

    .closeButton {
      margin: 0 50px 0 auto;
      background-color: transparent;
      border: 0;
      padding: 0;
      font-size: 40px;
      cursor: pointer;
      color: white;
      &:hover {
        color: #989898;

      }
    }
  }

  .message {
    font-size: 18px;
    font-weight: 600;
    margin: 25px;
    text-align: center;
    line-height: 50px;
  }

  .actionsWrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    button {
      background-color: rgba(0, 0, 0, .2);
      color: white;
      font-size: 18px;
      border-radius: 7px;
      border: 0;
      cursor: pointer;
      margin-bottom: 50px;
      max-width: 150px;
      min-width: 150px;
      height: 45px;
      &:hover {
        background-color: rgba(0, 0, 0, .3);
      }
    }
  }
}




