.container {
  position: fixed;
  height: 100%;
  width: 100%;
}
.openBtnWrapper {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.openModalBtn {
  cursor: pointer;
  width: 150px;
  height: 75px;
  border: 0;
  transition: .3s;
  text-transform: uppercase;
  font-weight: 600;
  &:hover {
    font-size: 16px;
  }
}